---
layout: default
title: Categories
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">
		
		<h3>1. Causal Inference</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'CI' %}
	     	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
    		</a>
		{% endif %}
	  {% endfor %}
		
		<h3>2. Statistical Learning</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'SL' %}
	    <a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
    	  </a>
		{% endif %}
	  {% endfor %}
		
	</ul>

