---
layout: default
title: Technical / Engineering / Business
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">
		
		<h3>T1. Core Machine Learning Algorithms</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'ML' %}
		<ul>
	     	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    		</a>
		{% endif %}
	  {% endfor %}
		
		<h3>T2. Statistical Methods For Data Science</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'SL' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	        </a>
		{% endif %}
	  {% endfor %}
		
		<h3>T3. Deep Learning</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'DL' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	  	</a>
		{% endif %}
	  {% endfor %}
		
		<h3>T4. Affective Computing</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'CC' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	  	</a>
		{% endif %}
	  {% endfor %}
		
		<h3>T5. Blockchain Systems / Distributed Ledger Technology</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'DC' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	  	</a>
		{% endif %}
	  {% endfor %}     
	
	---
		<h3>B1. Applied Artificial Intelligence and Commercialization</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'AI' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	  	</a>
		{% endif %}
	  {% endfor %}
		
		<img style="width:65%; height: 25%; margin-left: 2.5%; margin-top: 2.5%; margin-bottom: 2.5%;"
                 src="/images/multimodal2.png">
		<h3>B2. Blockchain Innovation and Decentralized Finance</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'BDF' %}
		<ul>
	    	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} - {{ post.title }}
		</ul>
		<br>
    	  	</a>
		{% endif %}
	  {% endfor %} 
		
		    
	---
		
	</ul>

