---
layout: default
title: Technical / Engineering 
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">
		
		<h3>1. Classical Machine Learning</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'ML' %}
		<ul>
	     	<a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
		</ul>
    		</a>
		{% endif %}
	  {% endfor %}
		
		<h3>2. Statistical Methods in Learning</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'SL' %}
		<ul>
	    <a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
		    </ul>
    	  </a>
		{% endif %}
	  {% endfor %}
		
		<h3>3. Deep Learning</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'DL' %}
		<ul>
	    <a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
		</ul>
    	  </a>
		{% endif %}
	  {% endfor %}
		
		<h3>4. Artifical Intelligence and Commercialization</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'AI' %}
		<ul>
	    <a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
		    </ul>
    	  </a>
		{% endif %}
	  {% endfor %}
		    
		<h3>5. Blockchain Systems</h3> 

	  {% for post in site.posts %}
		{% if post.title contains 'BS' %}
		<ul>
	    <a class="url" href="{{ site.url }}{{ post.url }}">
        	{{ post.date | date: "%b %d %Y" }} : {{ post.title }}
		    </ul>
    	  </a>
		{% endif %}
	  {% endfor %}    
		    
		    
		
	</ul>

