<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			
		</head>
		<body style="background-image: url('images/background.png');">
		<body>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			 <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item"><a href="/blog" class="pure-menu-link">Blogs</a></li>
              <li class="pure-menu-item"><a href="/projects" class="pure-menu-link">Projects</a></li>
              <li class="pure-menu-item header-active"><a href="/talks" class="pure-menu-link">Engagements</a></li>
	      <li class="pure-menu-item"><a href="/publications" class="pure-menu-link">Publications</a></li>
	      <li class="pure-menu-item"><a href="/resources" class="pure-menu-link">Knowledge Base</a></li> 
	      <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
              <li class="pure-menu-item"><a href="https://canvasoflearning.wordpress.com/" class="pure-menu-link">Elsewhere</a></li>
            </ul>
          </div>
			
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			{% include footer.html %}
			
			<footer class="footer">
				{% include svg-icons.html %}
			</footer>
		</body>
		
	</html>
