<!DOCTYPE html>
	<html lang="en">
		
		{% include head.html %}
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/categories">Categories</a></li>
	        		<li><a href="/blog">Blog</a></li>
            			<li><a href="/projects">Projects</a></li>
				<li><a href="/resources">Resources</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			{% include footer.html %}
			
		</body>
	</html>
