<!DOCTYPE html>
<html lang="en">
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			
		</head>
		
		<body>
			<body style="background-image: url('../images/background.png');">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		       		<li><a href="/blog">Blogs</a></li
            			<li><a href="/projects">Projects</a></li>
				<li><a href="/talks">Engagements</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/resources">Knowledge Base</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="https://rs19gemini.wixsite.com/bevulnerable">Elsewhere</a></li>
	    		</ul>
			</nav>
				
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			{% include footer.html %}
			
			<footer class="footer">
				{% include svg-icons.html %}
			</footer>
		</body>
		
	</html>
